<ion-header class="custom-header">
  <ion-toolbar color="miColor">
    <ion-title>EMSA</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-button expand="full" fill="clear" (click)="irATutorial()" >
      <ion-img src="assets/icon/tutorial.png"></ion-img>
    </ion-button>
    <ion-label>Tutoriales</ion-label>
  </ion-card>

  <ion-card>
    <ion-button expand="full" fill="clear" (click)="irAContenedor()" >
      <ion-img src="assets/icon/contenedor.png"></ion-img>
    </ion-button>
    <ion-label>Contenedores</ion-label>
  </ion-card>

  <ion-card>
    <ion-button expand="full" fill="clear" (click)="irARuta()">
      <ion-img src="assets/icon/ruta.png"></ion-img>
    </ion-button>
    <ion-label>Rutas</ion-label>
  </ion-card>
</ion-content>
