<ion-header>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
  <ion-toolbar color="miColor">
    <ion-title>CONTENEDORES</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal/principal"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="ion-text-center">
    <ion-button (click)="mostrarUbicacionActual()">
      Ubicación Actual
    </ion-button>
  </div>
  <br>
  <div id="map" style="width: 100%; height: 100%;"></div>
</ion-content>
